# Source
/lib/
/example/
/tests/

# Config files
.prettierrc
.eslintrc*
.editorconfig
tsconfig.json
playwright.config.ts
*.config.js

# Git
.git/
.github/
.gitignore
.gitattributes

# Tests
/test/
/coverage/
/test-results/
/playwright-report/
/blob-report/
/playwright/

# CI
.travis.yml
.circleci/
.github/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.sublime-*
.DS_Store

# Misc
.env*
.npmrc
.yarnrc
.yarn/